body {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Button Styles **/

.btn-default {
  background-color: #4F5965;
  color: #FFF;
  border: none;
  border-radius: 25px;
  padding:15px 30px;
  text-align: center;
  font-weight:500;
  min-width: 100px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-default:hover {
  background-color: #303944;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:  0px 2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
}